[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
websockets = "*"
bokeh = "*"
scikit-learn = "*"
slackclient = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
pymongo = "*"
keras = "*"
tensorflow = "*"
pymodm = "*"

[dev-packages]
jupyter-nbextensions-configurator = "*"
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.6"
